/* This file is managed by @html-validate/eslint-config */
/* Changes may be overwritten */

{% if typeinfo and typeinfo.rootDir != "." %}
const path = require("path");

{% endif  %}
require("@html-validate/eslint-config/patch/modern-module-resolution");

module.exports = {
	root: true,
	extends: [require.resolve("@html-validate/eslint-config/legacy.cjs")],

	overrides: [
		{
			/* ensure cjs and mjs files are linted too */
			files: ["*.cjs", "*.mjs"]
		},
{% if typescript %}
		{
			files: "*.ts",
			extends: [require.resolve("@html-validate/eslint-config-typescript/legacy.cjs")],
		},
{% endif %}
{% if typeinfo %}
		{
			files: ["src/**/*.ts"],
			excludedFiles: ["src/**/*.spec.ts"],
			parserOptions: {
				tsconfigRootDir: {% if typeinfo.rootDir == "." %}__dirname{% else %}path.join(__dirname, "{{ typeinfo.rootDir }}"){% endif %},
				project: ["{{ typeinfo.tsconfig }}"],
			},
			extends: [require.resolve("@html-validate/eslint-config-typescript-typeinfo/legacy.cjs")],
		},
{% endif %}
{% if angularjs %}
		{
			files: ["app/**/*.[jt]s", "src/**/*.[jt]s"],
			extends: [require.resolve("@html-validate/eslint-config-angularjs/legacy.cjs")],
		},
{% endif %}
{% if vue %}
		{
			files: "*.vue",
			extends: [require.resolve("@html-validate/eslint-config-vue/legacy.cjs")],
		},
{% endif %}
{% if jest %}
		{
			files: "*.spec.[jt]s",
			{%- if angularjs %}
			env: {
				"angular/mocks": true,
			},
			{%- endif %}
			excludedFiles: ["cypress/**", "tests/e2e/**"],
			extends: [require.resolve("@html-validate/eslint-config-jest/legacy.cjs")],
		},
{% endif %}
{% if cypress %}
		{
			files: ["cypress/**/*.spec.[jt]s", "cypress/**/*.cy.[jt]s"],
			extends: [require.resolve("@html-validate/eslint-config-cypress/legacy.cjs")],
		},
{% endif %}
{% if protractor %}
		{
			files: "tests/e2e/**/*.spec.[jt]s",
			extends: [require.resolve("@html-validate/eslint-config-protractor/legacy.cjs")],
		},
{% endif %}
		{
			/* files which should lint even if project isn't build yet */
			files: ["./*.d.ts", "bin/*.js"],
			rules: {
				"import/export": "off",
				"import/extensions": "off",
				"import/no-unresolved": "off",
			},
		},
	],
};
