/* This file is managed by @html-validate/eslint-config */
/* Changes may be overwritten */

{% if typeinfo %}
import path from "node:path";
import { fileURLToPath } from "node:url";
{% endif %}
import defaultConfig from "@html-validate/eslint-config";
{% if typescript %}
import typescriptConfig from "@html-validate/eslint-config-typescript";
{% endif %}
{% if typeinfo %}
import typescriptTypeinfoConfig from "@html-validate/eslint-config-typescript-typeinfo";
{% endif %}
{% if angularjs %}
import angularjsConfig from "@html-validate/eslint-config-angularjs";
{% endif %}
{% if vue %}
import vueConfig from "@html-validate/eslint-config-vue";
{% endif %}
{% if jest %}
import jestConfig from "@html-validate/eslint-config-jest";
{% endif %}
{% if cypress %}
import cypressConfig from "@html-validate/eslint-config-cypress";
{% endif %}
{% if protractor %}
import protractorConfig from "@html-validate/eslint-config-protractor";
{% endif %}

{% if typeinfo %}
const rootDir = path.dirname(fileURLToPath(import.meta.url));
{% endif %}

export default [
	{
		name: "Ignored files",
		ignores: ["**/coverage/**", "**/dist/**", "**/node_modules/**", "**/public/assets/**", "**/temp/**"],
	},
	...defaultConfig,
{% if typescript %}
	...typescriptConfig,
{% endif %}
{% if typeinfo %}
	{
		name: "Typescript typeinfo configuration",
		files: ["src/**/*.ts"],
		ignores: ["src/**/*.spec.ts"],
		languageOptions: {
			parserOptions: {
				tsconfigRootDir: {% if typeinfo.rootDir == "." %}rootDir{% else %}path.join(rootDir, "{{ typeinfo.rootDir }}"){% endif %},
				project: ["{{ typeinfo.tsconfig }}"],
			},
		},
	},
	...typescriptTypeinfoConfig,
{% endif %}
{% if angularjs %}
	...angularjsConfig,
{% endif %}
{% if vue %}
	...vueConfig,
{% endif %}
{% if jest %}
	...jestConfig,
{% endif %}
{% if cypress %}
	...cypressConfig,
{% endif %}
{% if protractor %}
	...protractorConfig,
{% endif %}
	{
		/* files which should lint even if project isn't build yet */
		files: ["./*.d.ts", "bin/*.js"],
		rules: {
			"import/export": "off",
			"import/extensions": "off",
			"import/no-unresolved": "off",
		},
	},
];
